<?xml version="1.0" encoding="utf-8"?>
<!--rev: 2-->
<!--site_data_path: 'C:\Program Files\Sky-Skan\DigitalSkyDM\Applications\Data\Automation'-->
<!--spice_filename: 'DM SPICE V4.xml' (MUST be in site_data_path)-->
<!--site_filename: 'DM_CONFIG.xml' (Default copy is in site_data_path)-->
<!--set_properties_during_prerender: 'yes' or 'no' (Default is 'yes')-->
<config xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<rev>5</rev>
	<enabled>no</enabled>
	<spice_filename>DM SPICE V4.xml</spice_filename>
	<site_filename>C:\ProgramData\Sky-Skan\DigitalSkyDM\Site\DM_CONFIG.xml</site_filename>
	<set_properties_during_prerender>yes</set_properties_during_prerender>
	<sync_clocks_during_prerender>no</sync_clocks_during_prerender>
	<wait_for_ack>yes</wait_for_ack>
	<comm_udp_port_dst>5000</comm_udp_port_dst>
	<comm_udp_port_src>5001</comm_udp_port_src>
	<intra_packet_delay_ms>4.5</intra_packet_delay_ms>
	<software_fades>no</software_fades>
	<fade_adjust>no</fade_adjust>
	<fade_adjust_line_hz>60</fade_adjust_line_hz>
	<sync_clocks_periodically>no</sync_clocks_periodically>
	<sync_clocks_period_secs>10</sync_clocks_period_secs>
</config>