<!--active, enabled: yes, no-->
<!--frequency: CSV of hourly, daily, weekly, monthly-->
<config xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<disable_if_network_fail_on_startup>no</disable_if_network_fail_on_startup>
	<disable_if_cloud_fail_on_startup>yes</disable_if_cloud_fail_on_startup>
	<retry_delay_if_cloud_fails_at_backup_start_minutes>60</retry_delay_if_cloud_fails_at_backup_start_minutes>
	<enabled>no</enabled>
	<rev>6</rev>
	<files>
		<file
			frequency="daily,weekly,monthly"
			active="yes">C:\ProgramData\Sky-Skan\DigitalSkyDM\DarkMatterConfig.xml</file>
		<file
			frequency="daily,weekly,monthly"
			active="yes">C:\ProgramData\Sky-Skan\DigitalSkyDM\DarkMatterLocationID</file>
		<file
			frequency="daily,weekly,monthly"
			active="yes">C:\ProgramData\Sky-Skan\DigitalSkyDM\DMSettings.xml</file>
		<file
			frequency="daily,weekly,monthly"
			active="yes">C:\ProgramData\Sky-Skan\DigitalSkyDM\&lt;SiteName&gt;\&lt;LocationName&gt;\*.*</file>
		<file
			frequency="daily,weekly,monthly"
			active="yes">C:\ProgramData\Sky-Skan\DigitalSkyDM\Logs\*.log</file>
		<file
			frequency="monthly"
			active="yes">C:\ProgramData\Sky-Skan\DigitalSkyDM\Logs\Archive\*.log</file>
		<file
			frequency="daily,weekly,monthly"
			active="yes">&lt;CorePath&gt;\MainAssets.sdf</file>
		<file
			frequency="daily,weekly,monthly"
			active="yes">&lt;CorePath&gt;\Posters\*.*</file>
		<file
			frequency="daily,weekly,monthly"
			active="yes">&lt;SitePath&gt;\Site.xml</file>
		<file
			frequency="daily,weekly,monthly"
			active="yes">&lt;SitePath&gt;\*\*.xml</file>
		<file
			frequency="daily,weekly,monthly"
			active="yes">&lt;SitePath&gt;\*\Workspaces\*.xml</file>
		<file
			frequency="daily,weekly,monthly"
			active="yes">&lt;SitePath&gt;\*\Shows\*.dms</file>
		<file
			frequency="daily,weekly,monthly"
			active="yes">C:\ProgramData\Sky-Skan\DigitalSkyDM\Site\*.config</file>
		<file
			frequency="daily,weekly,monthly"
			active="yes">C:\ProgramData\Sky-Skan\DigitalSkyDM\Site\*.xml</file>
		<file
			frequency="daily,weekly,monthly"
			active="yes">C:\ProgramData\Sky-Skan\DigitalSkyDM\DMNet.xml</file>
	</files>
</config>