<?xml version="1.0" encoding="utf-8"?>
<!--
Settings for DigitalSky-DM cloud extensions - AUTHORIZED USE ONLY

Valid values for 'audience' are customer, developer, demonstrator
To force a version, include an appropriately-named element with value
-->
<dmcloud xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <audience>customer</audience>
</dmcloud>