<!-- Important: Cilantro IDs are numbered 0-255 and must be unique among the Cilantro EXs -->
<!-- Important: Rows are names or numbers -->
<!-- Important: Seats are numbered 1-n -->
<!-- Important: Connectors are numbered 1-32, matching the rear of the Cilantro -->
<interactive xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="1">
	<startup>
		<enabled>no</enabled>
		<delaymodelloadsecs>0</delaymodelloadsecs>
		<delaydiscoverysecs>10</delaydiscoverysecs>
	</startup>
	<comm>
		<pingtimeoutsecs>15</pingtimeoutsecs>
		<listenmodesecs>20</listenmodesecs>
		<discoverytimeoutsecs>20</discoverytimeoutsecs>
		<send_keepalive_packet>yes</send_keepalive_packet>
		<keepalive_timeout_secs>1</keepalive_timeout_secs>
	</comm>
	<general>
		<logging_level>50</logging_level>
		<logging_debug>no</logging_debug>
		<default_background_red>0</default_background_red>
		<default_background_green>0</default_background_green>
		<default_background_blue>0</default_background_blue>
		<default_brightness>0</default_brightness>
		<default_audio_channel>0</default_audio_channel>
		<default_audio_volume>3</default_audio_volume>
	</general>
	<seatmapfile>SeatMapConfig.xml</seatmapfile>
</interactive>