<!-- Important: Card names MUST be unique across all panel configurations AND groups must be rebuilt if any card name is changed -->
<!-- Important: Card IDs MUST be unique across all panels configured -->
<config xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<rev>2</rev>
	<panels>
		<panel enabled="no" group="Panel 4903DS">
			<cards>
				<card id="202" name="CA" />
				<card id="201" name="C9" />
			</cards>
			<composites>
				<composite type="dial" name="Sky Scale Dial">
					<control card="CA" type="encode" id="25" />
				</composite>
				<composite type="dial" name="Sky Stars Dial">
					<control card="CA" type="encode" id="26" />
				</composite>
				<composite type="dial" name="Sky MW Dial">
					<control card="CA" type="encode" id="27" />
				</composite>
				<composite type="joystick" name="Nav Joystick">
					<control card="CA" type="detent" id="3" name="X" />
					<control card="CA" type="detent" id="1" name="Y" />
					<control card="C9" type="detent" id="3" name="Z" />
					<control card="C9" type="button" id="44" />
				</composite>
				<composite type="button" name="Effect 01">
					<control card="CA" type="button" id="33" />
					<control card="CA" type="lamp" id="33" />
				</composite>
				<composite type="button" name="Effect 02">
					<control card="CA" type="button" id="34" />
					<control card="CA" type="lamp" id="34" />
				</composite>
				<composite type="button" name="Effect 03">
					<control card="CA" type="button" id="35" />
					<control card="CA" type="lamp" id="35" />
				</composite>
				<composite type="button" name="Effect 04">
					<control card="CA" type="button" id="36" />
					<control card="CA" type="lamp" id="36" />
				</composite>
				<composite type="button" name="Effect 08">
					<control card="CA" type="button" id="37" />
					<control card="CA" type="lamp" id="37" />
				</composite>
				<composite type="button" name="Effect 09">
					<control card="CA" type="button" id="38" />
					<control card="CA" type="lamp" id="38" />
				</composite>
				<composite type="button" name="Effect 10">
					<control card="CA" type="button" id="39" />
					<control card="CA" type="lamp" id="39" />
				</composite>
				<composite type="button" name="Effect 11">
					<control card="CA" type="button" id="40" />
					<control card="CA" type="lamp" id="40" />
				</composite>
				<composite type="button" name="Effect 15">
					<control card="CA" type="button" id="41" />
					<control card="CA" type="lamp" id="41" />
				</composite>
				<composite type="button" name="Effect 16">
					<control card="CA" type="button" id="42" />
					<control card="CA" type="lamp" id="42" />
				</composite>
				<composite type="button" name="Effect 17">
					<control card="CA" type="button" id="43" />
					<control card="CA" type="lamp" id="43" />
				</composite>
				<composite type="button" name="Effect 18">
					<control card="CA" type="button" id="44" />
					<control card="CA" type="lamp" id="44" />
				</composite>
				<composite type="button" name="Effect 05">
					<control card="CA" type="button" id="49" />
					<control card="CA" type="lamp" id="49" />
				</composite>
				<composite type="button" name="Effect 06">
					<control card="CA" type="button" id="50" />
					<control card="CA" type="lamp" id="50" />
				</composite>
				<composite type="button" name="Effect 07">
					<control card="CA" type="button" id="51" />
					<control card="CA" type="lamp" id="51" />
				</composite>
				<composite type="button" name="Effect 12">
					<control card="CA" type="button" id="52" />
					<control card="CA" type="lamp" id="52" />
				</composite>
				<composite type="button" name="Effect 13">
					<control card="CA" type="button" id="53" />
					<control card="CA" type="lamp" id="53" />
				</composite>
				<composite type="button" name="Effect 14">
					<control card="CA" type="button" id="54" />
					<control card="CA" type="lamp" id="54" />
				</composite>
				<composite type="button" name="Effect 19">
					<control card="CA" type="button" id="55" />
					<control card="CA" type="lamp" id="55" />
				</composite>
				<composite type="button" name="Effect 20">
					<control card="CA" type="button" id="56" />
					<control card="CA" type="lamp" id="56" />
				</composite>
				<composite type="button" name="Effect 21">
					<control card="CA" type="button" id="57" />
					<control card="CA" type="lamp" id="57" />
				</composite>
				<composite type="button" name="Sky Dwarf Orbits">
					<control card="CA" type="button" id="58" />
					<control card="CA" type="lamp" id="58" />
				</composite>
				<composite type="button" name="Sky Ambient Light">
					<control card="CA" type="button" id="59" />
					<control card="CA" type="lamp" id="59" />
				</composite>
				<composite type="button" name="Sky Sun Light">
					<control card="CA" type="button" id="60" />
					<control card="CA" type="lamp" id="60" />
				</composite>
				<composite type="slider" name="Sky Sun Halo Slider">
					<control card="CA" type="slider" id="49" />
				</composite>
				<composite type="slider" name="Sky Moon Orbits Slider">
					<control card="CA" type="slider" id="50" />
				</composite>
				<composite type="slider" name="Sky Planet Orbits Slider">
					<control card="CA" type="slider" id="51" />
				</composite>
				<composite type="slider" name="Sky Ambient Slider">
					<control card="CA" type="slider" id="52" />
				</composite>
				<composite type="slider" name="Sky Sun Light Slider">
					<control card="CA" type="slider" id="53" />
				</composite>
				<composite type="button" name="Sky Master">
					<control card="CA" type="button" id="65" />
					<control card="CA" type="lamp" id="65" />
				</composite>
				<composite type="button" name="Sky Sun Control">
					<control card="CA" type="button" id="66" />
					<control card="CA" type="lamp" id="66" />
				</composite>
				<composite type="button" name="Sky Sun Halo">
					<control card="CA" type="button" id="67" />
					<control card="CA" type="lamp" id="67" />
				</composite>
				<composite type="button" name="Sky Moon Orbits">
					<control card="CA" type="button" id="68" />
					<control card="CA" type="lamp" id="68" />
				</composite>
				<composite type="button" name="Sky Planet Orbits">
					<control card="CA" type="button" id="69" />
					<control card="CA" type="lamp" id="69" />
				</composite>
				<composite type="button" name="Sky Dwarf Planets">
					<control card="CA" type="button" id="70" />
					<control card="CA" type="lamp" id="70" />
				</composite>
				<composite type="button" name="Sky Outer Planets">
					<control card="CA" type="button" id="71" />
					<control card="CA" type="lamp" id="71" />
				</composite>
				<composite type="button" name="Sky Inner Planets">
					<control card="CA" type="button" id="72" />
					<control card="CA" type="lamp" id="72" />
				</composite>
				<composite type="button" name="Sky Moon Control">
					<control card="CA" type="button" id="73" />
					<control card="CA" type="lamp" id="73" />
				</composite>
				<composite type="button" name="Sky Scale Planets">
					<control card="CA" type="button" id="74" />
					<control card="CA" type="lamp" id="74" />
				</composite>
				<composite type="button" name="Sky Scale Moons">
					<control card="CA" type="button" id="75" />
					<control card="CA" type="lamp" id="75" />
				</composite>
				<composite type="button" name="Sky Spare 1">
					<control card="CA" type="button" id="76" />
					<control card="CA" type="lamp" id="76" />
				</composite>
				<composite type="slider" name="Nav Sweet Spot Slider">
					<control card="CA" type="slider" id="61" />
				</composite>
				<composite type="slider" name="Show Bright Knob">
					<control card="CA" type="slider" id="62" />
				</composite>
				<composite type="button" name="Sky Stars Control">
					<control card="CA" type="button" id="81" />
					<control card="CA" type="lamp" id="81" />
				</composite>
				<composite type="button" name="Sky Milky Way Control">
					<control card="CA" type="button" id="82" />
					<control card="CA" type="lamp" id="82" />
				</composite>
				<composite type="button" name="Sky Spare 2">
					<control card="CA" type="button" id="83" />
					<control card="CA" type="lamp" id="83" />
				</composite>
				<composite type="button" name="Mot -1 Month">
					<control card="CA" type="button" id="84" />
					<control card="CA" type="lamp" id="84" />
				</composite>
				<composite type="button" name="Nav Sun Go">
					<control card="CA" type="button" id="85" />
					<control card="CA" type="lamp" id="85" />
				</composite>
				<composite type="button" name="Nav Mercury Go">
					<control card="CA" type="button" id="86" />
					<control card="CA" type="lamp" id="86" />
				</composite>
				<composite type="button" name="Nav Venus Go">
					<control card="CA" type="button" id="87" />
					<control card="CA" type="lamp" id="87" />
				</composite>
				<composite type="button" name="Nav Sweet Spot Ease">
					<control card="CA" type="button" id="88" />
					<control card="CA" type="lamp" id="88" />
				</composite>
				<composite type="button" name="Nav Earth Go">
					<control card="CA" type="button" id="89" />
					<control card="CA" type="lamp" id="89" />
				</composite>
				<composite type="button" name="Nav Moon Go">
					<control card="CA" type="button" id="90" />
					<control card="CA" type="lamp" id="90" />
				</composite>
				<composite type="button" name="Nav Mars Go">
					<control card="CA" type="button" id="91" />
					<control card="CA" type="lamp" id="91" />
				</composite>
				<composite type="button" name="Mot +1 Day">
					<control card="C9" type="button" id="49" />
					<control card="C9" type="lamp" id="49" />
				</composite>
				<composite type="button" name="Mot +1 Week">
					<control card="C9" type="button" id="50" />
					<control card="C9" type="lamp" id="50" />
				</composite>
				<composite type="button" name="Mot +1 Month">
					<control card="C9" type="button" id="51" />
					<control card="C9" type="lamp" id="51" />
				</composite>
				<composite type="button" name="Nav Jupiter Go">
					<control card="C9" type="button" id="52" />
					<control card="C9" type="lamp" id="52" />
				</composite>
				<composite type="button" name="Nav Saturn Go">
					<control card="C9" type="button" id="53" />
					<control card="C9" type="lamp" id="53" />
				</composite>
				<composite type="button" name="Nav Uranus Go">
					<control card="C9" type="button" id="54" />
					<control card="C9" type="lamp" id="54" />
				</composite>
				<composite type="button" name="Nav Track Stop">
					<control card="C9" type="button" id="55" />
					<control card="C9" type="lamp" id="55" />
				</composite>
				<composite type="button" name="Nav Track Orbit">
					<control card="C9" type="button" id="56" />
					<control card="C9" type="lamp" id="56" />
				</composite>
				<composite type="button" name="Nav Track Slow Stop">
					<control card="C9" type="button" id="57" />
					<control card="C9" type="lamp" id="57" />
				</composite>
				<composite type="button" name="Nav Log Fly">
					<control card="C9" type="button" id="58" />
					<control card="C9" type="lamp" id="58" />
				</composite>
				<composite type="button" name="Mot Next Moon">
					<control card="C9" type="button" id="59" />
					<control card="C9" type="lamp" id="59" />
				</composite>
				<composite type="button" name="Nav Neptune Go">
					<control card="C9" type="button" id="60" />
					<control card="C9" type="lamp" id="60" />
				</composite>
				<composite type="trackball" name="Nav Track Ball">
					<control card="C9" type="encode" id="13" name="X" />
					<control card="C9" type="encode" id="14" name="Y" />
				</composite>
				<composite type="button" name="Mot Next Sunrise">
					<control card="C9" type="button" id="33" />
					<control card="C9" type="lamp" id="33" />
				</composite>
				<composite type="button" name="Mot Next Sunset">
					<control card="C9" type="button" id="34" />
					<control card="C9" type="lamp" id="34" />
				</composite>
				<composite type="button" name="Nav Pluto Go">
					<control card="C9" type="button" id="35" />
					<control card="C9" type="lamp" id="35" />
				</composite>
				<composite type="button" name="Nav Land!">
					<control card="C9" type="button" id="36" />
					<control card="C9" type="lamp" id="36" />
				</composite>
				<composite type="button" name="Nav Joy AVS">
					<control card="C9" type="button" id="37" />
					<control card="C9" type="lamp" id="37" />
				</composite>
				<composite type="button" name="Nav Joy YPR">
					<control card="C9" type="button" id="38" />
					<control card="C9" type="lamp" id="38" />
				</composite>
				<composite type="button" name="Nav Joy Return">
					<control card="C9" type="button" id="39" />
					<control card="C9" type="lamp" id="39" />
				</composite>
				<composite type="button" name="Show Spare 3">
					<control card="C9" type="button" id="40" />
					<control card="C9" type="lamp" id="40" />
				</composite>
				<composite type="button" name="Show Spare 4">
					<control card="C9" type="button" id="41" />
					<control card="C9" type="lamp" id="41" />
				</composite>
				<composite type="button" name="Show Master">
					<control card="C9" type="button" id="42" />
					<control card="C9" type="lamp" id="42" />
				</composite>
				<composite type="button" name="Show Spare 5">
					<control card="C9" type="button" id="43" />
					<control card="C9" type="lamp" id="43" />
				</composite>
				<composite type="lcd" name="Mot Heading LCD" lines="2" chars="8" text="Heading |        ">
					<control card="CA" type="lcd" id="2" />
				</composite>
				<composite type="detent" name="Mot Heading Detent">
					<control card="CA" type="detent" id="4" name="Mot Heading Knob" />
					<control card="CA" type="button" id="24" name="Mot Heading Zero" />
				</composite>
				<composite type="button" name="Mot Heading North">
					<control card="CA" type="button" id="17" />
					<control card="CA" type="lamp" id="17" />
				</composite>
				<composite type="button" name="Mot Heading Grid">
					<control card="CA" type="button" id="18" />
					<control card="CA" type="lamp" id="18" />
				</composite>
				<composite type="button" name="Mot Heading South">
					<control card="CA" type="button" id="19" />
					<control card="CA" type="lamp" id="19" />
				</composite>
				<composite type="button" name="Mot Cardinal Points">
					<control card="CA" type="button" id="20" />
					<control card="CA" type="lamp" id="20" />
				</composite>
				<composite type="button" name="Mot -1 Day">
					<control card="CA" type="button" id="21" />
					<control card="CA" type="lamp" id="21" />
				</composite>
				<composite type="button" name="Mot -1 Week">
					<control card="CA" type="button" id="22" />
					<control card="CA" type="lamp" id="22" />
				</composite>
				<composite type="lcd" name="Mot Lat-Long LCD" lines="2" chars="8" text="Lat|Long">
					<control card="CA" type="lcd" id="1" />
				</composite>
				<composite type="detent" name="Mot Lat-Long Detent">
					<control card="CA" type="detent" id="2" name="Mot Lat-Long Knob" />
					<control card="CA" type="button" id="8" name="Mot Lat-Long Zero" />
				</composite>
				<composite type="button" name="Mot Longitude Control">
					<control card="CA" type="button" id="1" />
					<control card="CA" type="lamp" id="1" />
				</composite>
				<composite type="button" name="Mot Latitude Control">
					<control card="CA" type="button" id="2" />
					<control card="CA" type="lamp" id="2" />
				</composite>
				<composite type="button" name="Mot Meridian Grid">
					<control card="CA" type="button" id="3" />
					<control card="CA" type="lamp" id="3" />
				</composite>
				<composite type="button" name="Mot Info Time Pos">
					<control card="CA" type="button" id="4" />
					<control card="CA" type="lamp" id="4" />
				</composite>
				<composite type="button" name="Mot Here Now">
					<control card="CA" type="button" id="5" />
					<control card="CA" type="lamp" id="5" />
				</composite>
				<composite type="lcd" name="Mot Date-Time LCD" lines="2" chars="8" text="Date|Time">
					<control card="C9" type="lcd" id="2" />
				</composite>
				<composite type="detent" name="Mot Diur-Ann Detent">
					<control card="C9" type="detent" id="4" name="Mot Diur-Ann Knob" />
					<control card="C9" type="button" id="24" name="Mot Diur-Ann Zero" />
				</composite>
				<composite type="button" name="Mot Annual Control">
					<control card="C9" type="button" id="17" />
					<control card="C9" type="lamp" id="17" />
				</composite>
				<composite type="button" name="Mot Diurnal Control">
					<control card="C9" type="button" id="18" />
					<control card="C9" type="lamp" id="18" />
				</composite>
				<composite type="button" name="Mot Equatorial Grid">
					<control card="C9" type="button" id="19" />
					<control card="C9" type="lamp" id="19" />
				</composite>
				<composite type="button" name="Mot Ecliptic Grid">
					<control card="C9" type="button" id="20" />
					<control card="C9" type="lamp" id="20" />
				</composite>
				<composite type="lcd" name="Mot Epoch LCD" lines="2" chars="8" text=" EPOCH| epoch">
					<control card="C9" type="lcd" id="1" />
				</composite>
				<composite type="detent" name="Nav Log Fly Detent">
					<control card="C9" type="detent" id="1" name="Nav Log Fly Knob" />
					<control card="C9" type="button" id="7" name="Nav Log Fly Zero" />
				</composite>
				<composite type="detent" name="Mot Epoch Detent">
					<control card="C9" type="detent" id="2" name="Mot Epoch Knob" />
					<control card="C9" type="button" id="8" name="Mot Epoch Zero" />
				</composite>
				<composite type="button" name="Show System Reset">
					<control card="C9" type="button" id="1" />
					<control card="C9" type="lamp" id="1" />
				</composite>
				<composite type="button" name="Show Console Brightness">
					<control card="C9" type="button" id="2" />
					<control card="C9" type="lamp" id="2" />
				</composite>
				<composite type="button" name="Mot Clouds">
					<control card="C9" type="button" id="3" />
					<control card="C9" type="lamp" id="3" />
				</composite>
				<composite type="button" name="Mot Epoch Control">
					<control card="C9" type="button" id="4" />
					<control card="C9" type="lamp" id="4" />
				</composite>
				<composite type="button" name="Mot Epoch Grid">
					<control card="C9" type="button" id="5" />
					<control card="C9" type="lamp" id="5" />
				</composite>
				<composite type="button" name="Mot Atmosphere">
					<control card="C9" type="button" id="6" />
					<control card="C9" type="lamp" id="6" />
				</composite>
			</composites>
		</panel>
		<panel enabled="no" group="Panel 4903SL">
			<cards>
				<card id="222" name="SL" />
			</cards>
			<composites>
				<composite type="button" name="Console Lights Button">
					<control card="SL" type="button" id="1" />
					<control card="SL" type="lamp" id="1" />
				</composite>
				<composite type="slider" name="Console Lights Slider">
					<control card="SL" type="slider" id="62" />
				</composite>
				<composite type="button" name="Dome Tour">
					<control card="SL" type="button" id="2" />
					<control card="SL" type="lamp" id="2" />
				</composite>
				<composite type="slider" name="Dome Tour Slider">
					<control card="SL" type="slider" id="2" />
				</composite>
				<composite type="button" name="Moving Spots">
					<control card="SL" type="button" id="3" />
					<control card="SL" type="lamp" id="3" />
				</composite>
				<composite type="slider" name="Moving Spots Slider">
					<control card="SL" type="slider" id="3" />
				</composite>
				<composite type="button" name="Cove Red">
					<control card="SL" type="button" id="4" />
					<control card="SL" type="lamp" id="4" />
				</composite>
				<composite type="slider" name="Cove Red Slider">
					<control card="SL" type="slider" id="4" />
				</composite>
				<composite type="button" name="Cove Green">
					<control card="SL" type="button" id="5" />
					<control card="SL" type="lamp" id="5" />
				</composite>
				<composite type="slider" name="Cove Green Slider">
					<control card="SL" type="slider" id="5" />
				</composite>
				<composite type="button" name="Cove Blue">
					<control card="SL" type="button" id="6" />
					<control card="SL" type="lamp" id="6" />
				</composite>
				<composite type="slider" name="Cove Blue Slider">
					<control card="SL" type="slider" id="6" />
				</composite>
				<composite type="button" name="Cove Master">
					<control card="SL" type="button" id="7" />
					<control card="SL" type="lamp" id="7" />
				</composite>
				<composite type="slider" name="Cove Master Slider">
					<control card="SL" type="slider" id="7" />
				</composite>
				<composite type="button" name="Spot 1">
					<control card="SL" type="button" id="8" />
					<control card="SL" type="lamp" id="8" />
				</composite>
				<composite type="slider" name="Spot 1 Slider">
					<control card="SL" type="slider" id="8" />
				</composite>
				<composite type="button" name="Spot 2">
					<control card="SL" type="button" id="9" />
					<control card="SL" type="lamp" id="9" />
				</composite>
				<composite type="slider" name="Spot 2 Slider">
					<control card="SL" type="slider" id="9" />
				</composite>
				<composite type="button" name="Spot 3">
					<control card="SL" type="button" id="10" />
					<control card="SL" type="lamp" id="10" />
				</composite>
				<composite type="slider" name="Spot 3 Slider">
					<control card="SL" type="slider" id="10" />
				</composite>
				<composite type="button" name="Spot Master">
					<control card="SL" type="button" id="11" />
					<control card="SL" type="lamp" id="11" />
				</composite>
				<composite type="slider" name="Spot Master Slider">
					<control card="SL" type="slider" id="11" />
				</composite>
				<composite type="button" name="Audio Duck">
					<control card="SL" type="button" id="98" />
					<control card="SL" type="lamp" id="98" />
				</composite>
				<composite type="button" name="Master">
					<control card="SL" type="button" id="99" />
					<control card="SL" type="lamp" id="99" />
				</composite>
				<composite type="dial" name="Sample Dial">
					<control card="SL" type="encode" id="25" />
				</composite>
			</composites>
		</panel>
		<panel enabled="no" group="Panel 4903BSL">
			<cards>
				<card id="1" name="BSL" />
			</cards>
			<composites>
				<composite type="button" name="Button1">
					<control card="BSL" type="button" id="101" />
					<control card="BSL" type="lamp" id="101" />
				</composite>
				<composite type="button" name="Button2">
					<control card="BSL" type="button" id="102" />
					<control card="BSL" type="lamp" id="102" />
				</composite>
				<composite type="button" name="Button3">
					<control card="BSL" type="button" id="103" />
					<control card="BSL" type="lamp" id="103" />
				</composite>
			</composites>
		</panel>
	</panels>
</config>